html,body{
    margin: 0;
    padding: 0;
}

/*pro*/
.container{
    width: 400px;
    height: 400px;
    background: #888;
    overflow: hidden;
}
.container>div,.container>div>div{
    width: 25%;
    height: 25%;
    margin: 12.5%;
    background: #a2d700;
    float:left;
    position: relative;
    top:0;
    left:0;
    transition:all 0.5s;
}
.container>div>div{
    background: #f90;
}

.container:hover>.angle1{
    left:-30px;
    top:-30px;
}
.container:hover>.angle2{
    left:30px;
    top:-30px;
}
.container:hover>.angle3{
    left:-30px;
    top:30px;
}
.container:hover>.angle4{
    top:30px;
    left:30px;
}

.container:hover>div>.son_angle1{
    left:-15px;
    top:-15px;
}
.container:hover>div>.son_angle2{
    left:15px;
    top:-15px;
}
.container:hover>div>.son_angle3{
    left:-15px;
    top:15px;
}
.container:hover>div>.son_angle4{
    top:15px;
    left:15px;
}