html,body,ul,h1,h2,h3,h4,h5{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
}
ul,li{
    list-style: none;
}
.clear_top::before,.clear_top:before{
    content:"";
    display: block;
    overflow: hidden;
}
.clear_float::after,.clear_float:after{
    content:"";
    display: block;
    clear:both;
}
