</div>
<div class="auth-copyright">
    All trademarks and copyrights on this site are owned by their respective owners.
</div>
<script src="./javascripts/yc/jquery-1.12.3.min.js"></script>
<script src="./javascripts/yc/log-reg.js"></script>
</body>
</html>