html,body{
    padding:0;
    margin:0;
}

/*container  */
#container{
    width:400px;
    height:400px;
    margin:20px auto;
    background:skyblue;
}
button{
    width:95px;
    height:50px;
}
.box{
    width:100%;
    height:340px;
    margin-top:10px;
    background:#D15FEE;
}