html,body{
    padding:0;
    margin:0;
}


/*container  */
.container{
    width:300px;
    padding:10px;
    margin:100px auto;
    background:skyblue;
      text-align: right;  
}
.container span{
    /* display: box; */
      float:left;  
       width:120px;     
    margin-top:20px;
    /* text-align: justify; */
    /* justify-content: space-between; */
}
input{
    height:20px;
    margin: 20px 0;
}
.container .btn{
    margin-left: 100px;
}