<!DOCTYPE html>
<html>
<head>
  <title>vue详情页</title>
  <link rel="stylesheet" type="text/css" href="../../public/stylesheets/shop/index.css">
  <link rel="stylesheet" type="text/css" href="../../public/stylesheets/common.css">
  <link rel="stylesheet" type="text/css" href="../../public/stylesheets/shop/detail.css">
</head>
<body>
  <div id="shop">
    <nav class="shopNav">
      <a href="#">
        <span>The Vue Shop</span>
      </a>
    </nav>
    <!-- 内容部分商品展示 -->
    <ul id="shopNav1">
      <span>家具</span>
    </ul>
    <ul id="shopNav2">
       <span>数码</span> 
      </ul>
      <ul id="shopNav3">
          <span>衣服</span> 
        </ul>
    <div class="container">
      <div class="row" id="goodsList">
        <!--<div class="col-sm-6 col-md-4">-->
        <!--<div class="thumbnail">-->
        <!--<img src="http://www.wowdsgn.com/media/catalog/product/cache/1/small_image/720x/9df78eab33525d08d6e5fb8d27136e95/b/o/botanica-minivaser-sampak__1.jpg" alt="...">-->
        <!--<div class="caption">-->
        <!--<h5>商品名称</h5>-->
        <!--<h6>商品详情</h6>-->
        <!--<p>价格：￥1980.00</p>-->
        <!--<p><a href="#" class="btn btn-primary" role="button">加入购物车</a></p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
      </div>
    </div>
    <!-- 内容部分商品展示结束 -->

    <!-- detail内容 -->
<section class="d-goods">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-xs-12 col-sm-12">
                    <div class="goods">
                        <div class="img-detail">
                            <!--<img src="./img/product/4.jpg" alt="">-->
                            <!--<div class="sm-img">-->
                                <!--<img src="./img/product/4.jpg" alt="">-->
                                <!--<img src="./img/product/4.jpg" alt="">-->
                                <!--<img src="./img/product/4.jpg" alt="">-->
                                <!--<img src="./img/product/4.jpg" alt="">-->
                                <!--<img src="./img/product/4.jpg" alt="">-->
                            <!--</div>-->
                        </div>
                        <div class="detail-content">
                            <!--<h4>书包男时尚潮流韩版高中学生校园双肩包大容量休闲旅行包男士背包 <br><small>荧光 包邮 运费险 新款</small></h4>-->
                            <!--<p><span>描述：</span></p>-->
                            <!--<p><span>价格：</span><em>128.00</em></p>-->
                            <!--<p><span>运费：</span>广东广州至 杭州 快递: 0.00</p>-->
                            <!--<p>-->
                                <!--<span>数量：</span>-->
                                <!--<button class="add">+</button>-->
                                <!--<input type="text" value="1">-->
                                <!--<button class="minus">—</button>&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <!--<small>库存:5622件</small>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span></span>-->
                                <!--<button id="pay-it-rightnow">立即购买</button>-->
                                <!--<button id="add-to-cart">加入购物车</button>-->
                            <!--</p>-->
                            <!--<p>-->
                                <!--<span>分享</span>-->
                                <!--<a href=""><i class="fa fa-weibo"></i></a>-->
                                <!--<a href=""><i class="fa fa-wechat"></i></a>-->
                                <!--<a href=""><i class="fa fa-google-plus"></i></a>-->
                                <!--<a href=""><i class="fa fa-facebook"></i></a>-->
                            <!--</p>-->
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- detail内容结束 -->

    <!-- 最大的div -->

    <!-- 页尾部分 -->
    <footer class="brandFooter" data-nav="slide" data-theme-bar="slide" role="contentinfo">
        <p class="brandFooterpoweredby">Powered by <a href="https://www.threadless.com/artist-shops/signup?thref=shop_vue&amp;utm_medium=artist_shop&amp;utm_source=vue&amp;utm_campaign=powered_by" title="Sell custom products online for free with Artist Shops">Threadless Artist Shops</a></p>
        <ul class="brandFooternav">
            <li>© The Vue Shop</li>
            <li><a href="#help" title="Help &amp; Returns" data-beacon-trigger="help">Help &amp; Returns</a></li>
            <li><a href="#legal" title="Legal" data-beacon-trigger="legal">Legal</a></li>
        </ul>
    </footer>
  </div>
  <script src="../../public/javascripts/shop/jquery-1.12.3.min.js"></script>
  <script src="../../public/javascripts/shop/detail.js"></script>
</body>

</html>