<!DOCTYPE html>
<html>

<head>
  <title>vue商品页</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/shop/index.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
</head>

<body>
<div id="shop">
  <nav class="shopNav">
    <a href="#">
      <span>The Vue Shop</span>
    </a>
  </nav>
  <div>
    <a href="#">
      <span class="cartWord"><img src="/images/shop/cart.svg" alt=""></span>
    </a>
  </div>
  <!-- 内容部分商品展示 -->
  <ul id="shopNav1">
    <span>家具</span>
  </ul>
  <ul id="shopNav2">
    <span>数码</span>
  </ul>
  <ul id="shopNav3">
    <span>衣服</span>
  </ul>
  <div class="container">
    <div class="row" id="goodsList">
      <!--<div class="col-sm-6 col-md-4 ">-->
      <!--<div class="thumbnail ">-->
      <!--<img src="http://www.wowdsgn.com/media/catalog/product/cache/1/small_image/720x/9df78eab33525d08d6e5fb8d27136e95/b/o/botanica-minivaser-sampak__1.jpg" alt="...">-->
      <!--<div class="caption ">-->
      <!--<h5>商品名称</h5>-->
      <!--<h6>商品详情</h6>-->
      <!--<p>价格：￥1980.00</p>-->
      <!--<p><a href="#" class="btn btn-primary" role="button">加入购物车</a></p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <!-- 内容部分商品展示结束 -->
  <!-- 分页 -->
  <nav aria-label="Page navigation">
    <ul class="pagination page-ul">
      <li>
        <a href="javascript:" aria-label="Previous" class="Pre">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a class="mdda" href="javascript:">1</a></li>
      <li><a class="mdda" href="javascript:">2</a></li>
      <li><a class="mdda"href="javascript:">3</a></li>
      <li><a class="mdda"href="javascript:">4</a></li>
      <li><a class="mdda"href="javascript:">5</a></li>
      <li>
        <a href="javascript:" aria-label="Next" class="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- 分页结束 -->
  <!-- 购物车页面开始 -->
  <div class="cart">
    <span class="cancel">x</span>
    <p class="cartCar">购物车</p>
    <h2>您的购物车还没有商品~</h2>
    <a href="../../views/shop/shop.ejs">去商城逛逛呗~</a>
    <button><a style="background: #000; border: 1px solid #f00;" href="/shop/settle">结算</a></button>
  </div>

  <!-- 购物车页面结束 -->
  <!-- 最大的div -->

  <!-- 页尾部分 -->
  <footer class="brandFooter" data-nav="slide" data-theme-bar="slide" role="contentinfo">
    <p class="brandFooterpoweredby">Powered by <a href="https://www.threadless.com/artist-shops/signup?thref=shop_vue&amp;utm_medium=artist_shop&amp;utm_source=vue&amp;utm_campaign=powered_by"
                                                  title="Sell custom products online for free with Artist Shops">Threadless Artist Shops</a></p>
    <ul class="brandFooternav">
      <li>© The Vue Shop</li>
      <li><a href="#help" title="Help &amp; Returns" data-beacon-trigger="help">Help &amp; Returns</a></li>
      <li><a href="#legal" title="Legal" data-beacon-trigger="legal">Legal</a></li>
    </ul>
  </footer>
</div>
<script src="/javascripts/shop/jquery-1.12.3.min.js"></script>
<script src="/javascripts/shop/index.js"></script>
</body>

</html>