html,body{
    margin: 0;
    padding: 0;
}

/*pro*/
.container{
    width: 400px;
    height: 400px;
    background: #888;
    overflow: hidden;
}
.container>div,.container>div>div{
    width: 25%;
    height: 25%;
    margin: 12.5%;
    background: #a2d700;
    float:left;
    position: relative;
    top:0;
    left:0;
}
.container>div>div{
    background-color: #00f;
}
.container:hover *{
    transition:all 3s;    
}
.container:hover .angle1,.container:hover .son_angle1{
    left:50%;
}
.container:hover .angle2,.container:hover .son_angle2{
    top:50%;
}
.container:hover .angle3,.container:hover .son_angle3{
    top:-50%;
}
.container:hover .angle4,.container:hover .son_angle4{
    left:-50%;
}