<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>控制器</title>
    
</head>
<body>
    <!-- <div ng-controller="Aaa" ng-click="show()"> -->
    <div ng-controller="Aaa" ng-click="name='澹台'">
        {{name}}
    </div>

    <script src="js/angular.min.js"></script>
    <script>
        var m1 = angular.module("myApp",[]);
        m1.controller("Aaa",function($scope,$timeout){
            $scope.name = "周鹏";
            // $timeout(function(){
            //     $scope.name="ttyp";
            // },2000);
            $scope.show = function(){
                $scope.name = "zp";
            }
        })
        
    </script>
</body>
</html>