/*兼容到IE8*/
html,body{
    margin: 0;
    padding: 0;
}
.clear-top::before,.clear-top:before{
    content:" ";
    display: block;
    overflow: hidden;
}
.clear-float::after,.clear-float:after{
    content:"";
    display: block;
    clear:both;
}

/*style*/
.father{
    background-color: #89f;
}
.father>*{
    width: 20px;
    height: 20px;
    float: left;
    background-color: #ff0;
}
.mon{
    height:30px;
    background-color: #f00;
}

.son.son1{

}
.father .son{

}
.father>.son{

}
.father+.mon{
    
}