/*init*/
html,body{
    margin: 0;
    padding: 0;
}
.clear-top::before{
    content:"";
    display: block;
    overflow: hidden;
}
.clear-float::after{
    content: "";
    display: block;
    clear: both;
}

/*style*/
.father{
    width: 400px;
    background: #0f0;
}
.son{
    width: 50px;
    height: 50px;
    background: #00f;
    color:#fff;
    float:left;
}

