<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基础格式</title>
    
</head>
<body>
    
    <!-- <div ng-controller="Aaa" ng-init="name='hi'">
        由内而外，先看标签内的
        <p>{{name}}</p>
    </div> -->

    <div ng-controller="Aaa">
        <div ng-repeat="arr1 in arr" ng-init="arr1Index=$index">
            <div ng-repeat="arr2 in arr1" ng-init="arr2Index=$index">
                <p>{{arr2}}:{{arr1Index}}{{arr2Index}}</p>
            </div>    
        </div>      
    </div>
   

    <script src="js/angular.min.js"></script>
    <script>
        var m1 = angular.module('myApp',[]);
        m1.controller("Aaa",function($scope){
            $scope.name="zhoupeng";
            $scope.arr = [['aaa','bbb','ccc'],['ddd','eee']]
        })
    </script>
</body>
</html>