html,body{
    margin: 0;
    padding: 0;
}
ul,ol,dl,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/*自学 text-decoration */
.clear-top::before,.clear-top:before{
    content:"";
    display: block;
    overflow: hidden;
}
.clear-float::after,.clear-float:after{
    content:"";
    display: block;
    clear:both;
}

/*style*/
.nav{
    width: 800px;
    height: 80px;
    background-color: #d0d0d0;
    border-bottom:5px solid #a6a6a6;
}
.nav-box{
    margin:0 0 0 200px;
}
.nav-item{
    display: block;
    float:left;
    width: 120px;
    height: 80px;
}
.nav-item a{
    width: 100px;
    text-align: center;
    font: 24px "微软雅黑",Arial;
    color: #4a4a4a;
    text-shadow: 1px 1px 0px #fff;
    padding: 27px 0 0;
}
.nav-item a:hover .nav-angle{
    border-bottom-color: #a6a6a6;
}
.nav-item .nav-font{
    margin-top: 18px
}
.nav-item .nav-angle{
    width: 0;
    border: 15px solid #d0d0d0;
    border-top-width: 16px;
    margin: 0 auto;
}