<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>基础格式</title>
    <style>
        .red{
            color:red;
        }
    </style>
</head>
<body>
    
    <div ng-controller="Aaa">
        <form action="" name="oForm">
            <div>
                <label for="">账号：</label>
                <input type="text" name="unText" placeholder="请输入账号"
                 required ng-pattern="/^[a-zA-Z]+$/" ng-model="oFormText.un" ng-blur="oFormText.change(oForm.unText.$error)"> 
                <!-- <span class="red" ng-repeat="FM in oFormText.oFormList | filter:'pattern'">
                    {{FM.tips}}
                </span> -->
                <!-- 步骤一，静态方法改变 -->
                <!-- 用筛选方法filter,只让default显示对应的提示'请输入账号'' -->
                <span class="red" ng-repeat="FM in oFormText.oFormList | filter:oFormText.oFormVal">
                    {{FM.tips}}
                </span>
                <!-- 步骤二，动态方法取值 -->
                <!-- 用筛选方法filter,在数据中添加一条oFormVal:'default',通过这条内容筛选对应提示 -->
            
                <!-- 步骤三，添加条件和触发事件 -->
                <!-- required: 为空判断，ng-pattern="/^[a-zA-Z]+$" 正则判断 ng-blur -->
            </div>
            <div>
                <label for="">密码：</label>
                <input type="password" name="unPwd" placeholder="请输入密码"
                    required ng-minlength="6" ng-maxlength="12" ng-model="oFormPwd.un" ng-blur="oFormPwd.change(oForm.unPwd.$error)">
                <span class="red" ng-repeat="FP in oFormPwd.oFormList | filter:oFormPwd.oFormVal">
                    {{FP.tips}}
                </span>
            </div>
        </form>
    </div>
   

    <script src="js/angular.min.js"></script>
    <script>
        var m1 = angular.module('myApp',[]);
        m1.controller("Aaa",function($scope){
            $scope.oFormText = {
                oFormVal:'default',
                oFormList:[
                    {name : "default",tips : "请输入账号"},
                    {name : "required",tips : "账号不能为空"},
                    {name : "pattern",tips : "请输入英文"},
                    {name : "ok",tips : "√"},
                ]
                
            };
            $scope.oFormPwd = {
                oFormVal:'default',
                oFormList:[
                    {name : 'default',tips : "请输入密码"},
                    {name : 'required',tips : "密码不能为空"},
                    {name : 'minlength',tips : "密码不能少于6位"},
                    {name : 'maxlength',tips : "密码不能大于12位"},
                    {name : 'ok',tips : "√"}
                ]
                
            }
            $scope.change = function(err){
                // console.log(err)
                // 值为false时候是通过验证，为true的时候验证失败
                for(var attr in err){
                    // console.log(err[attr]);
                    if(err[attr] == true){
                        //if判断attr是否为true
                        this.oFormVal=attr;
                        // 如果是true就给oFormVal进行从新赋值
                        return;
                        // 解释
                    }
                }
                this.oFormVal = 'ok';
                //如果if中的条件都不符合，那就说明验证通过
            }
        })
    </script>
</body>
</html>