<!-- counter-section start -->
<section id="counter-section">
    <div class="counter-up" data-stellar-background-ratio="0.3">
        <div class="cover"></div>
        <div class="page-header-wrapper">
            <div class="container">
                <div class="row">
                    <div class="page-header text-center wow fadeInDown animated" data-wow-delay="0.4s">
                        <h2>一些有趣的事实</h2>
                        <div class="devider"></div>
                        <div class="subtitle">在此之前没有告诉任何人</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="fact text-center col-md-3 col-sm-6">
                    <div class="fact-inner">
                        <i class="fa fa-users fa-3x"></i>
                        <span class="counter animateNum" data-animatetarget="6666">6666</span>
                        <div class="lead">所服务的客户</div>
                    </div>
                </div>
                <div class="fact text-center col-md-3 col-sm-6">
                    <div class="fact-inner">
                        <i class="fa fa-leaf fa-3x"></i>
                        <span class="counter animateNum" data-animatetarget="800">800</span>
                        <div class="lead">完成的项目</div>
                    </div>
                </div>
                <div class="fact text-center col-md-3 col-sm-6">
                    <div class="fact-inner">
                        <i class="fa fa-trophy fa-3x"></i>
                        <span class="counter animateNum" data-animatetarget="55">55</span>
                        <div class="lead">获得的奖项</div>
                    </div>
                </div>
                <div class="fact text-center col-md-3 col-sm-6">
                    <div class="fact-inner">
                        <i class="fa fa-coffee fa-3x"></i>
                        <span class="counter animateNum" data-animatetarget="1100">1100</span>
                        <div class="lead">喝掉咖啡的杯数</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- counter-section end -->

<!-- team-section start -->
<section id="team-section" class="page">
    <div class="page-header-wrapper">
        <div class="container">
            <div class="row">
                <div class="page-header text-center wow fadeInDown animated" data-wow-delay="0.4s">
                    <h2>我们的团队</h2>
                    <div class="devider"></div>
                    <div class="subtitle">我们的专家</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-items">
                <div class="col-md-2 col-sm-4 col-xs-6 team-container wow bounceIn animated" data-wow-delay="0.2s">
                    <div class="team-item">
                        <div class="team-triangle">
                            <div class="content">
                                <img src="../images/zpimg/team1.jpg" alt="">
                                <div class="team-hover text-center">
                                    <i class="fa fa-male"></i>
                                    <p>周鹏</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 team-container wow bounceIn animated" data-wow-delay="0.3s">
                    <div class="team-item">
                        <div class="team-triangle">
                            <div class="content">
                                <img src="../images/zpimg/team1.jpg" alt="">
                                <div class="team-hover text-center">
                                    <i class="fa fa-male"></i>
                                    <p>周鹏</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 team-container wow bounceIn animated" data-wow-delay="0.4s">
                    <div class="team-item">
                        <div class="team-triangle">
                            <div class="content">
                                <img src="../images/zpimg/team1.jpg" alt="">
                                <div class="team-hover text-center">
                                    <i class="fa fa-male"></i>
                                    <p>周鹏</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 team-container wow bounceIn animated" data-wow-delay="0.5s">
                    <div class="team-item">
                        <div class="team-triangle">
                            <div class="content">
                                <img src="../images/zpimg/team1.jpg" alt="">
                                <div class="team-hover text-center">
                                    <i class="fa fa-male"></i>
                                    <p>周鹏</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 team-container wow bounceIn animated" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="team-triangle">
                            <div class="content">
                                <img src="../images/zpimg/team1.jpg" alt="">
                                <div class="team-hover text-center">
                                    <i class="fa fa-male"></i>
                                    <p>周鹏</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 team-container wow bounceIn animated" data-wow-delay="0.7s">
                    <div class="team-item">
                        <div class="team-triangle">
                            <div class="content">
                                <img src="../images/zpimg/team1.jpg" alt="">
                                <div class="team-hover text-center">
                                    <i class="fa fa-male"></i>
                                    <p>周鹏</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 team-container wow bounceIn animated" data-wow-delay="0.8s">
                    <div class="team-item">
                        <div class="team-triangle">
                            <div class="content">
                                <img src="../images/zpimg/team1.jpg" alt="">
                                <div class="team-hover text-center">
                                    <i class="fa fa-male"></i>
                                    <p>周鹏</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>
<!-- team-section end -->

<!-- partners-section start -->
<section id="partners-section">
    <div class="page-header-wrapper">
        <div class="container">
            <div class="row">
                <div class="page-header text-center wow fadeInDown animated" data-wow-delay="0.4s">
                    <h2>我们的伙伴</h2>
                    <div class="devider"></div>
                    <div class="subtitle">赞助商</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="owl-partners" class="owl-carousel">
            <div class="owl-item"><img src="../images/zpimg/partners1.png" alt=""></div>
            <div class="owl-item"><img src="../images/zpimg/partners2.png" alt=""></div>
            <div class="owl-item"><img src="../images/zpimg/partners3.png" alt=""></div>
            <div class="owl-item"><img src="../images/zpimg/partners4.png" alt=""></div>
            <div class="owl-item"><img src="../images/zpimg/partners1.png" alt=""></div>
            <div class="owl-item"><img src="../images/zpimg/partners3.png" alt=""></div>
            <div class="owl-item"><img src="../images/zpimg/partners4.png" alt=""></div>
        </div>
    </div>
</section>
<!-- partners-section end -->

<!-- prices-section start -->
<section id="prices-section" class="page">
    <div class="page-header-wrapper">
        <div class="container">
            <div class="row">
                <div class="page-header text-center wow fadeInDown animated" data-wow-delay="0.4s">
                    <h2>相关教程</h2>
                    <div class="devider"></div>
                    <div class="subtitle">教程抢先看</div>
                </div>
            </div>
        </div>
    </div>
    <div class="prices">
        <div class="container">
            <div class="row">
                <div class="price-box col-sm-6 col-md-3 wow flipInY animated" data-wow-delay="0.3s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-plug fa-2x"></i>
                            <h3>basic</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>基础</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item">安装</li>
                            <li class="list-group-item">介绍</li>
                            <li class="list-group-item">Vue实例</li>
                            <li class="list-group-item">模板语法</li>
                            <li class="list-group-item">计算属性和观察者</li>
                        </ul>
                        <div class="panel-footer text-center">
                            <a href="#" class="btn btn-default">立即学习</a>
                        </div>
                    </div>
                </div>
                <div class="price-box col-sm-6 col-md-3 wow flipInY animated" data-wow-delay="0.5s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-cog fa-2x"></i>
                            <h3>tool</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>工具</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item">生产环境部署</li>
                            <li class="list-group-item">单文件组件</li>
                            <li class="list-group-item">单元测试</li>
                            <li class="list-group-item">TypeScript</li>
                            <li class="list-group-item">...</li>
                        </ul>
                        <div class="panel-footer text-center">
                            <a href="#" class="btn btn-default">立即学习</a>
                        </div>
                    </div>
                </div>
                <div class="price-box price-box-featured col-sm-6 col-md-3 wow flipInY animated" data-wow-delay="0.7s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-star fa-2x"></i>
                            <h3>transition</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>过渡</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item">状态动画与观察者</li>
                            <li class="list-group-item">动态状态过渡</li>
                            <li class="list-group-item">把过渡放到组件里</li>
                            <li class="list-group-item">赋予设计以生命</li>
                            <li class="list-group-item">...</li>
                        </ul>
                        <div class="panel-footer text-center">
                            <a href="#" class="btn btn-default">立即学习</a>
                        </div>
                    </div>
                </div>
                <div class="price-box col-sm-6 col-md-3 wow flipInY animated" data-wow-delay="0.9s">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-plus fa-2x"></i>
                            <h3>inward</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p class="lead"><strong>内在</strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item">如何追踪变化</li>
                            <li class="list-group-item">检测变化的注意事项</li>
                            <li class="list-group-item">声明响应式属性</li>
                            <li class="list-group-item">异步更新队列</li>
                            <li class="list-group-item">...</li>
                        </ul>
                        <div class="panel-footer text-center">
                            <a href="#" class="btn btn-default">立即学习</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- prices-section end -->

<!-- social-section start -->
<section id="social-section">
    <div class="page-header-wrapper">
        <div class="container">
            <div class="row">
                <div class="page-header text-center wow fadeInDown animated" data-wow-delay="0.4s">
                    <h2>加入我们</h2>
                    <div class="devider"></div>
                    <div class="subtitle">可通过以下与我们联系</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="social-list text-center">
            <li class="rotate-box-1 wow zoomIn animated" data-wow-delay="0.3s">
                <a href="#">
                        <span class="rotate-box-icon">
                            <i class="fa fa-qq"></i>
                        </span>
                    </a>
            </li>
            <li class="rotate-box-1 wow zoomIn animated" data-wow-delay="0.4s">
                <a href="#">
                        <span class="rotate-box-icon">
                            <i class="fa fa-weixin"></i>
                        </span>
                    </a>
            </li>
            <li class="rotate-box-1 wow zoomIn animated" data-wow-delay="0.5s">
                <a href="#">
                        <span class="rotate-box-icon">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
            </li>
            <li class="rotate-box-1 wow zoomIn animated" data-wow-delay="0.6s">
                <a href="#">
                        <span class="rotate-box-icon">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
            </li>
            <li class="rotate-box-1 wow zoomIn animated" data-wow-delay="0.7s">
                <a href="#">
                        <span class="rotate-box-icon">
                            <i class="fa fa-google-plus"></i>
                        </span>
                    </a>
            </li>
            <li class="rotate-box-1 wow zoomIn animated" data-wow-delay="0.8s">
                <a href="#">
                        <span class="rotate-box-icon">
                            <i class="fa fa-tumblr"></i>
                        </span>
                    </a>
            </li>
        </div>
    </div>
</section>
<!-- social-section end -->

<!-- contact-section start -->
<section id="contact-section" class="page" data-stellar-background-ratio="0.5">
    <div class="cover"></div>
    <div class="page-header-wrapper">
        <div class="container">
            <div class="row">
                <div class="page-header text-center wow fadeInDown animated" data-wow-delay="0.4s">
                    <h2>联系我们</h2>
                    <div class="devider"></div>
                    <div class="subtitle">以下各种方式联系</div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact wow bounceInRight animated" data-wow-delay="0.4s">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contact-info">
                        <h4>我们的地址</h4>
                        <ul class="contact-address">
                            <li>
                                <i class="fa fa-map-marker fa-lg"></i> &nbsp;
                                <span>100 Limpbiscayne Blvd. (North) 17st Floor ,</span>
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>New World Tower New York ,</span>
                                <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span>New York, USA, 33148</span>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> &nbsp; 1 -234 -456 -7890
                            </li>
                            <li>
                                <i class="fa fa-print"></i> &nbsp; 1 -234 -456 -7890
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i> &nbsp; info@yourdomain.com
                            </li>
                            <li>
                                <i class="fa fa-skype"></i> &nbsp; Unika-Design
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="contact-form">
                        <h4>意见或建议</h4>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="您的姓名" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" placeholder="您的邮箱" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="您的意见" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control input-lg" rows="5" placeholder="您的建议"></textarea>
                            </div>
                            <button type="submit" class="btn wow bounceInRight animated" data-wow-delay="0.8s">发送</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-section end -->

<!-- footer start -->
<footer class="text-off-white">
    <div class="footer-top">
        <div class="container">
            <div class="row wow bounceInLeft animated" data-wow-delay="0.4s">
                <div class="col-sm-6 col-md-4">
                    <h4>有用的连接</h4>
                    <ul class="links">
                        <li>
                            <a href="#">关于</a>
                        </li>
                        <li>
                            <a href="#">服务</a>
                        </li>
                        <li>
                            <a href="#">服务</a>
                        </li>
                        <li>
                            <a href="#">版权</a>
                        </li>
                        <li>
                            <a href="#">广告</a>
                        </li>
                        <li>
                            <a href="#">法律</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4>订阅</h4>
                    <div id="footer_signup">
                        <div id="email">
                            <form id="subscribe" method="post">
                                <input type="text" placeholder="请填写邮箱地址">
                                <button type="submit">提交</button>
                            </form>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet，consectetur adipisicing elit，sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>最近推文</h4>
                    <div class="single-tweet">
                        <div class="tweet-content">
                            <span>@Unika Excepteur</span> sint occaecat cupidatat non proident
                        </div>
                        <div class="tweet-date">
                            1小时前
                        </div>
                    </div>
                    <div class="single-tweet">
                        <div class="tweet-content">
                            <span>@Unika Excepteur</span> sint occaecat cupidatat non proident
                        </div>
                        <div class="tweet-date">
                            1小时前
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container text-center wow fadeIn animated" data-wow-delay="0.4s">
            <p class="copyright">Copyright © 2017.10.01 lm mdd zp yc wph </p>
        </div>
    </div>
</footer>
<!-- footer end -->

<a href="#" id="scrolltotop">
        <i class="fa fa-arrow-up"></i>
    </a>