html,body{
    margin: 0;
    padding: 0;
    background: #000;
}

.container{
    width: 496px;
    height: 412px;
    background: url('./images/practice_back.png');
    border:12px solid #fff;
}

.container * {
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 4px #615f5f;
}
.container .sp{
    height:30px;
}
.container .en{
    font-size: 36px;
    font-weight: bold;
}
.container .en div{
    text-align: left;
    width: 426px;
    height: 87px;
    display: inline-block;
}
.container .zh_1{
    font-size: 60px;
    height: 85px;;
}
.container .zh_2 span{
    font-size: 25px;
    color: rgb(207,35,22);
    text-shadow: none;
    background-color: #fff;
    height: 48px;
    width: 426px;
    display: inline-block;
    line-height: 48px;
}
.container .zh_3{
    font-size: 108px;
}