html,body{
    margin: 0;
    padding: 0;
}

/*pro*/
.container{
    width: 400px;
    height: 400px;
    background: #999;
    overflow: hidden;
}
.container>div{
    width: 25%;
    height: 25%;
    margin: 12.5%;
    background: #a2d700;
    float:left;
    position: relative;
    top:0;
    left:0;
}
.container:hover>div{
    transition:all 0.5s;
}
.container:hover>.angle1{
    left:50%;
}
.container:hover>.angle2{
    top:50%;
}
.container:hover>.angle3{
    top:-50%;
}
.container:hover>.angle4{
    left:-50%;
}