</div>
<div class="auth-copyright">
    All trademarks and copyrights on this site are owned by their respective owners.
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="./javascripts/yc/log-reg.js"></script>
</body>
</html>