<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylesheets/ycStyle/reg-log.css">
</head>

<body ng-app="myapp">
    <div class="background <%= bg %>">
        <div class="auth-blur"></div>
    </div>
    <div class="back-filter"></div>
    <div class="main <%= main %>">
        <div class="auth-brand">
            <div class="auth-brand-wrap">
                <div class="auth-logo"></div>
                <div class="auth-text"></div>
            </div>
        </div>