html,body{
    margin: 0;
    padding: 0;
}


/*tab style*/
.container{
    width: 230px;
    height: 132px;
    background: #999;
    position: relative;
}
.container>*{
    position: absolute;
}
.tab{
    width:115px;
    height: 32px;
    background-color: #f09;
}

.tab1{
    top:0;
    left:0;
}
.tab2{
    top:0;
    right:0;
}

.content{
    top:32px;
    left:0;
    width: 230px;
    height: 100px;
}
.content1{
    background: #f00;
    z-index: 2;
}
.content2{
    background: #0f0;
    z-index: 1;
}

.tab:hover + .content{
    z-index: 1000;
}
