html,body{
    margin: 0;
    padding: 0;
}
.clear-float::after,.clear-float:after{
    content: "";
    display: block;
    clear:both;
}
/*导航按钮*/
.box{
    height: 80px;
    background-image: url(./nav.png);
    float:left;
}
.box:hover{
    background-image: url(./nav-on.png);
}

.box1{
    width: 100px;
}
.box2{
    width: 122px;
    background-position: -100px 0;
}
.box3{
    width: 148px;
    background-position: -222px 0;
}
.box4{
    width: 120px;
    background-position: -370px 0;
}