html,body,ul,h1,h2,h3,h4,h5{
    margin:0;
    padding:0;
}

body{
    background:#f2f1ef;
}
ul{
    list-style: none;
}
.clear_top::before,.clear_top:before{
    content:"";
    display: block;
    overflow: hidden;
}
.clear_float::after,.clear_float:after{
    content:"";
    display: block;
    clear:both;
}

/*top start*/
#top{
    width: 100%;
    height: 40px;
    background:#f5f5f5;
}
#top .top_content{
    width:1190px;
    height:40px;
    line-height: 40px;
    margin:0 auto;

}
#top .top_login{
    height: 100%;
    float:left;
}
#top .top_nav{
    height:100%;
    float:right;
}
#top a{
    text-decoration: none;
    font-size: 12px;
    color: #6C6C6C;
}
#top a:hover{
    color:red;
}
#top .top_login span{
    color:#f22e00;
    margin-right:5px;
}
#top .top_login a:nth-child(2){
    margin-right:20px;
}
#top .top_nav li{
    float:left;
    margin-left:10px;
}
#top .top_nav i{
    margin: 0 5px;
    width:7px;
    height:7px;
    display: inline-block;
    background:url("images/arrow_icon.png") no-repeat;
}
#top .top_nav li span{
    height:12px;
    line-height: 12px;
    border-right:1.5px solid #e8e8e8;   
    display: inline-block;
    margin-left:15px;
}
#top .top_nav .shopping{
    width:11px;
    height:12px;
    display: inline-block;
    background-image: url("images/shopping_icon.png")
}
#top .top_nav .web{
    width:7px;
    height:8px;
    display:inline-block;
    background:url("images/web_icon.png") no-repeat;
}
#top .top_nav .collect{
    width:11px;
    height:11px;
    display: inline-block;
    background: url("images/collect_icon.png");
}
/*top end*/

/*head start*/
#head{
    width: 100%;
    height:165px;
    background:white;
    position: relative;
    top:0;
    left:0;
}
#head .head_content{
    width:1190px;
    height:135px;
    margin: 0 auto;
    padding-top:30px;
}
#head .taobao_logo{
    width:200px;
    float:left;
}
#head .taobao_logo img{
    margin:0 auto;
    display: block;
}
#head .mobile_taobao{
    height:100%;
    float:right;
}
#head .mobile_taobao .x{
    width: 9px;
    height: 9px;
    position: relative;
    display: inline-block;
    border: 1px solid #eee;
    left: 5px;
    top: 3px;
    border-right: none;
    padding: 5px;
}
#head .mobile_taobao .x img{
    margin:0;
    position: absolute;
}
#head .two_bar_codes_box{
    width:100px;
    height: 110px;
    border:1px solid #eee;
    display: inline-block;
    text-align: center;
}
#head .two_bar_codes_box span{
    color:red;
    font-size:12px;
}
#head .two_bar_codes_box img{
    width: 80px;
    height: 80px;
    display: block;
    margin:0 auto;
}
#head .search{
    width:660px;
    height:90px;
    position:absolute;
    top:30px;
    right:0;
    left:0;
    margin:0 auto;
}
#head .search_nav{
    width:50px;
    height:25px;
    line-height: 25px;
    text-align: center;
    float:left;
    cursor: pointer;
    font-size: 14px;
    
}
#head .search_nav span{
    display: block;
}
#head .s_nav1{
    color:white;
    font-weight: 700;
    background:#ff5400;
}
#head .s_nav2 span:hover,#head .s_nav3 span:hover{
    background:#f9E6E6;
    color:#c60000;
}
#head .s_nav2,#head .s_nav3{
    color:#f40;
}
#head .search_content{
    width:598px;
    height:65px;
    position: absolute;
    top:25px;
    left:0;
}
#head .search_main{
    width:594px;
    height:34px;
    background:#ff5400;
    padding:4px 0 4px 4px;
    position: absolute;
    left:0;
}
#head .search_main input{
    padding: 6px 0;
    text-indent: 10px;
    height: 22px;
    line-height: 22px;
    width: 472px;
    border: none;
    outline: 0;
    background: #FFF;
    float: left;
}
#head .search_main button{
    width:122px;
    height: 42px;
    background:#ff5400;
    float:left;
    border:none;
    margin-top:-4px;
    margin-right:-4px;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
    font-family: "微软雅黑";
    cursor: pointer;
}
#head .search_main .search_icon{
   width: 14px;
    height: 15px;
    display: inline-block;
    background: url("images/search_icon.png") no-repeat;
    position: absolute;
    left: 20px;
    bottom: 0;
    top: 0;
    margin: auto 0;
}
#head .search_main .camera{
    width: 17px;
    height: 14px;
    display: inline-block;
    background: url("images/camera_icon.png");
    position: absolute;
    right: 130px;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
#head .search_main span{
    width:30px;
    margin-left:10px;
    position: absolute;
    top:0;
    line-height: 22px;
    right:-50px;
    font-size:14px;
    color:#000;
    font-weight: normal;
}
#head .bottom_search_nav{
    position: absolute;
    left:0;
}
#head .bottom_search_nav ul{
    width: 558px;
    height: 23px;
    position: absolute;
    top: 40px;
    left: 0;
}
#head .bottom_search_nav li{
    float:left;
    margin-right:5px;
}
#head .bottom_search_nav li .hot{
    color:#ff5400;
}
#head .s_nav2 .hot2{
    color:#c60000;
}
#head .bottom_search_nav a{
    font-size:12px;
    color:#000;
    text-decoration: none;
    font-weight: normal;
}
#head .bottom_search_nav a:hover{
    color:#ff5400;
}
#head .bottom_search_nav span{
    display: inline-block;
    float:right;
}
#head .s_nav2 .search_content{
    display: none;
    background:white;
}
#head .s_nav2 .search_main,#head .s_nav2 button{
    background:#c40000;
}
#head .search_nav:hover .search_content{
    display: block;
}
#head .head_bottom_nav{
    width: 1190px;
    height: 35px;
    margin:0 auto;
    position: absolute;
    bottom:0;
}
.head_bottom_nav .market{
    width: 190px;
    height:35px;
    line-height:35px;
    background:#ff6304;
    float:left;
    margin-right:10px;
}
.head_bottom_nav .market span{
    font-size:15px;
    color:white;
    font-weight: 700;
    margin-left:10px;
}
.head_bottom_nav .market em{
    width: 15px;
    height: 13px;
    float:right;
    margin-top:10px;
    margin-right:10px;
    background:url("images/market_icon.png") no-repeat;
}
.head_bottom_nav .red_nav,.head_bottom_nav .black_nav{
    height:30px;
    line-height:30px;
    float: left;
    margin-right:10px;
}
.head_bottom_nav ul{
    height: 23px;
}
.head_bottom_nav li:hover{
    background:#f40;
    border-radius: 15px;
    background-image: linear-gradient(-45deg,#ff5000,#ff6f06);
}
.head_bottom_nav li:hover a{
    color:white;
}
.head_bottom_nav .red_nav a{
    color:#f40;
}
.head_bottom_nav li{
    height:30px;
    float:left;
    padding:0 8px;
    display: block;
}
.head_bottom_nav a{
    text-decoration: none;
    font-size:15px;
    font-weight: 700;
    color:#3C3C3C;
}
.head_bottom_nav .black_nav .line{
    width:0;
    height:16px;
    display: inline-block;
    float:left;
    border:0.5px solid #eee;
    margin:5px;
}

/*main strat*/
#main{
    width:1190px;
    margin:0 auto;
}
#main .banner{
    width:900px;
    height:650px;
    float:left;
}

#main .banner_top{
    width: 900px;
    height: 520px;
}
#main .banner_top div{
    float:left;
}

/*banner focus start*/



#main .banner_top .focus{
    width: 520px;
    height: 510px;
    margin: 10px;
}
/*顶部焦点图 start*/
#main .banner_top .top_focus{
    width: 520px;
    height: 280px;
}
/*顶部焦点图 end*/

/*b底部焦点图 start*/
#main .banner_top .bottom_focus {
    width: 520px;
    height: 230px;
    
}
#main .banner_top .bottom_focus_title{
    width: 520px;
    height:26px;
    border-bottom:2px solid #c12c26;
}
#main .banner_top .bottom_focus_title h2{
    display: inline-block;
    height: 26px;
    font-weight: 700;
    font-size: 16px;
    color:#3c3c3c;
    position: relative;
    top:7px;
    vertical-align: bottom;
    z-index:-10;
}
#main .banner_top .bottom_focus_title h2 em{
    width: 49px;
    height: 17px;
    display: inline-block;
    background:url("images/tianmao.gif");
    margin-bottom:-3px;
}
#main .banner_top .bottom_focus_title .tianmao_ad{
    font-size: 12px;
    color: #666;
    margin-left: 6px;
}
#main .banner_top .bottom_focus_title strong{
    float:right;
    margin-top:9px;
    font-size: 12px;
    font-weight: 400;
}
#main .banner_top .bottom_focus_title strong span{
    color:red;
}
#main .banner_top .bottom_focus_content{
    width:520px;
    height:200px;
}
#main .banner_top .bottom_focus_content img{
    width: 172px;
    height: 99px;
    float:left;
    border-right:1px solid #f2f1ef;
    border-bottom:1px solid #f2f1ef;
}
/*底部焦点图 end*/

/*banner focus end*/

/*banner right_ad start*/
#main .banner_top .right_ad{
    width: 160px;
    height: 511px;
    margin-top:10px;
}
#main .banner_top .right_ad .top_ad{
    width: 160px;
    height: 280px;
}
#main .banner_top .right_ad .today_hot{
    width: 160px;
    height:18px;
    font-size: 12px;
    color: #666;
    margin-top:10px;
}
#main .banner_top .right_ad .bottom_ad{
    width: 160px;
    height: 200px;
}
/*banner right_ad end*/

/*left_nav start*/
#main .banner_top .left_nav{
    width: 190px;
    height: 520px;
    background:#ff6204;
    position:relative;
    top:0;
    left:0;
}
#main .banner_top .left_nav li{
    height: 30px;
    line-height: 30px;
    padding:0px 10px;
    font-size: 13px;
    color:white;
    font-weight: 700;
}
#main .banner_top .left_nav li:hover{
    background:#f94a14;
}
#main .banner_top .left_nav .bottom_ad{
    position: absolute;
    bottom:0;
    left: 0;
    width:190px;
    height: 40px;
}

/*扩展导航调试*/
/*#main .banner .left_nav .clothes .extend_nav{
    display: block;
}*/
/*扩展导航调试 结束*/

/*左导航 扩展导航部分*/
#main .banner_top .left_nav li .extend_nav:nth-child(2n){
    background:skyblue;
}
#main .banner_top .left_nav li:hover .extend_nav{
    display: block;
}
#main .banner .left_nav li .extend_nav{
    width: 707px;
    height: 516px;
    background:#fff;
    position: absolute;
    left:188px;
    top:0;
    border:2px solid #f94a14;
    display: none;
}

#main .banner .left_nav .extend_nav .left_en{
    width: 455px;
    height: 516px;
    background:white;
    float:left;
}
/*左导航 扩展导航 右边部分开始*/
#main .banner .left_nav .extend_nav .right_en{
    width: 252px;
    height: 516px;
    background:#f4f4f4; 
}
#main .banner .left_nav .extend_nav .right_en h3{
    width:95px;
    margin:25px auto 0;
    line-height:0;
    height:20px;
    display: block;
    color:#000;
}
#main .banner .left_nav .extend_nav .right_en h3 span{
    display: inline-block;
    margin-top:7px;
}
#main .banner .left_nav .extend_nav .right_en .like{
    width: 20px;
    height: 17px;
    background:url("images/like_icon.png");
    margin-right:5px;
    display: inline-block;
    float:left;
}
#main .banner .left_nav .extend_nav .right_en .desc{
    width:100%;
    text-align: center;
    margin-top: 4px;
    line-height: 18px;
    font-size: 12px;
    color: #999;
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
}
#main .banner .left_nav .extend_nav .right_en .your_like{
    width:232px;
    height:112px;
    margin:17px 10px;
}
#main .banner .left_nav .extend_nav .right_en .your_like b{
    width:112px;
    height:112px;
    background:url("images/test.jpg");
    position:relative;
    top:0;
    left:0;
    
}
#main .banner .left_nav .extend_nav .right_en .your_like span{
    width: 104px;
    height: 25px;
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255,255,255,.8);
    position: absolute;
    bottom:0;
    left:0;
    color:#000;
    font-weight: 500;
    transition: all 0.2s;
}
#main .banner .left_nav .extend_nav .right_en .your_like b:hover span{
    background:white;
    color:red;
}
#main .banner .left_nav .extend_nav .right_en .your_like .left_pic{
    float:left;
}
#main .banner .left_nav .extend_nav .right_en .your_like .right_pic{
    float:right;
}
/*左导航 扩展导航 右边部分结束*/


#main .banner .left_nav .left_en .detail{
    width: 430px;
    height: 140px;
    margin:20px 10px 0;
}
#main .banner .left_nav .left_en .detail_title{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #e0e0e0;
}
#main .banner .left_nav .left_en .detail_title_left{
    float: left;
}
#main .banner .left_nav .left_en .detail_title_left b{
    width: 30px;
    height: 30px;
    float:left;
    margin-right:10px;
}
#main .banner .left_nav .left_en .detail_title_left .woman{
    background:url("images/woman.jpg");
    background-size:cover; 
}
#main .banner .left_nav .left_en .detail_title_left .man{
    background:url("images/man.jpg");
    background-size:cover; 
}
#main .banner .left_nav .left_en .detail_title_left .bra{
    background:url("images/bra.jpg");
    background-size:cover; 
}
#main .banner .left_nav .left_en .detail_title_left span:hover,#main .banner .left_nav .left_en .more span:hover{
    color:#ff4400;
    
}
#main .banner .left_nav .left_en .more{
    float:right;
}
#main .banner .left_nav .left_en .more a{
    font-size: 12px;
    color:#3C3C3C;
    font-style:normal;
    text-decoration: none;
    font-weight: 500;
}
#main .banner .left_nav .left_en .detail_title_left a{
    font-size: 16px;
    color:#3C3C3C;
    font-style:normal;
    text-decoration: none;
}
#main .banner .left_nav .left_en .detail_content{
    padding:10px 10px 0 0;
}
#main .banner .left_nav .left_en .detail_content a{
    display: inline-block;
    margin-right: 12px;
    white-space: nowrap;
    font-size:12px;
    color:#000;
    font-weight: 500;
    line-height: 25px;
    float: left;
}
#main .banner .left_nav .left_en .detail_content .hot{
    color:red;
}
/*左导航 扩展导航结束*/


#main .banner_top .left_nav li a{
    margin:0 3px;
    font-size: 13px;
    color:white;
    font-weight: 700;
    text-decoration: none;
}
#main .banner_top .left_nav li a:hover{
    text-decoration: underline;
}
#main .banner_top .left_nav li i{
    width: 6px;
    height: 9px;
    display: block;
    float:right;
    margin-top:11px;
    margin-right:10px;
    background:url("images/arrow_right.png");
}
#main .banner_top .left_nav li em{
    width: 15px;
    height: 15px;
    float:left;
    margin-right:2px;
    margin-top: 8px;
}
#main .banner_top .left_nav .clothes em{
    background:url("images/clothes_icon.png") no-repeat;   
}
#main .banner_top .left_nav .shoes em{
    background:url("images/shoes_icon.png") no-repeat;
}
#main .banner_top .left_nav .toy em{
    background:url("images/toy_icon.png") no-repeat;
}
#main .banner_top .left_nav .phone em{
    background:url("images/phone_icon.png") no-repeat;
}
#main .banner_top .left_nav .dressing em{
    background:url("images/dressing_icon.png") no-repeat;
}
#main .banner_top .left_nav .watch em{
    background:url("images/watch_icon.png") no-repeat;
}
#main .banner_top .left_nav .sport em{
    background:url("images/sport_icon.png") no-repeat;
}
#main .banner_top .left_nav .game em{
    background:url("images/game_icon.png") no-repeat;
}
#main .banner_top .left_nav .food em{
    background:url("images/food_icon.png") no-repeat;
}
#main .banner_top .left_nav .flower em{
    background:url("images/flower_icon.png") no-repeat;
}
#main .banner_top .left_nav .house em{
    background:url("images/house_icon.png") no-repeat;
}
#main .banner_top .left_nav .furniture em{
    background:url("images/furniture_icon.png") no-repeat;
}
#main .banner_top .left_nav .car em{
    background:url("images/car_icon.png") no-repeat;
}
#main .banner_top .left_nav .office em{
    background:url("images/office_icon.png") no-repeat;
}
#main .banner_top .left_nav .dishware em{
    background:url("images/dishware_icon.png") no-repeat;
}
#main .banner_top .left_nav .study em{
    background:url("images/study_icon.png") no-repeat;
}


/*recommend start*/
#main .recommend{
    width: 890px;
    height: 80px;
    background:#fff;
    margin-top:10px;
}
#main .recommend_item{
    width: 160px;
    height: 80px;
    float: left;
    margin-left:15px;
    position: relative;
}
#main .recommend .ri1{
    color:#a46f57;
}
#main .recommend .ri1:hover img{
    border-color:#a46f57;
}
#main .recommend .ri2{
    color:#67c38a;
}
#main .recommend .ri2:hover img{
    border-color:#67c38a;
}
#main .recommend .ri3{
    color:#5aa5f5;
}
#main .recommend .ri3:hover img{
    border-color:#5aa5f5;
}
#main .recommend .ri4{
    color:#876bc1;
}
#main .recommend .ri4:hover img{
    border-color:#876bc1;
}
#main .recommend .ri5{
    color:#f54650;
}
#main .recommend .ri5:hover img{
    border-color:#f54650;
}
#main .recommend .recommend_pic{
    width: 60px;
    height: 60px;
    border:1px solid #efeeec;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    bottom:0;
    margin:auto 0;
}
#main .recommend .recommend_desc{
    width: 75px;
    height:80px;
    margin-left:70px;
}
#main .recommend .recommend_desc h1{
    
    height:20px;
    font-size:16px;
    margin-top:6px;
}
#main .recommend .recommend_desc span{
    font-size:12px;
    height: 16px;
    line-height: 16px;
}
#main .recommend .recommend_desc .popularity{
    width: 86px;
}
#main .recommend .recommend_desc em{
    width: 13px;
    height: 14px;
    background:url("images/popularity.png");
    display: inline-block;
}
#main .recommend .recommend_desc h5{
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    color:#999;
}
/*recommend end*/

/*bottom_often start*/
#main .bottom_often{
    width: 890px;
    height: 30px;
    position: relative;
}
#main .often_ramble{
    width:220px;
    height:20px;
    margin:10px auto 0;
    background:url("images/often_ramble.jpg")
}
#main .bottom_often .more{
    border-radius: 10px;
    background: #fff;
    line-height: 20px;
    height: 20px;
    padding: 0 9px 0 14px;
    position: absolute;
    right: 12px;
    bottom: 6px;
    font-weight: 400;
    font-size: 12px;
}
#main .bottom_often .more:hover{
    background:#f40;
    color:white;
}
/*bottom_often end*/

/*right_login start*/
#main .right_login{
    width: 290px;
    height: 640px;
    float:right;
    margin-top: 10px;
}
#main .right_login .top_login{
    width: 290px;
    height: 168px;
    background:url("images/top_login_bg.jpg");
    background-color:#fff;
}
#main .right_login .top_login a{
    text-decoration: none;
}
#main .right_login .top_login .avatar_box{
    width: 190px;
    height: 100px;
    margin:15px auto 0;
    text-align: center;
    font-size:12px;
}
#main .right_login .top_login .avatar_box .hello{
    line-height: 24px;
}
#main .right_login .top_login .avatar_box .avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("images/avatar.jpg");
    margin:0 auto;
    background-size:cover;
}
#main .right_login .top_login .avatar_box .vip em{
    width: 15px;
    height: 15px;
    display: inline-block;
    background:url("images/vip_icon.png");
    background-size:cover;
    vertical-align: middle;
}
#main .right_login .top_login .avatar_box .vip span{
    color:#f40;
    cursor: pointer;
}
#main .right_login .top_login .login_button{
    width:270px;
    height:25px;
    margin:10px auto;
}
#main .right_login .top_login .login_button_item{
    width: 80px;
    height: 25px;
    line-height: 25px;
    background:#ff5601;
    font-size:16px;
    font-weight: 700;
    text-align: center;
    margin:0 5px;
    float:left;
    
}
#main .right_login .top_login .login_button_item a{
    color:#fff;
}

/*公告开始  */
#main .right_login .notice{
    width: 290px;
    height: 110px;
    background:#fff;
    margin:2px auto 1px;
    position:relative;
}
#main .right_login .notice_nav{
    float:left;
    
    margin:10px 7px 0;
}
#main .right_login .notice_nav .nav_item{
    font-size:14px;
    padding:2px 8px;
}
#main .right_login .notice_nav .nav_item:hover{
    font-weight: 700;
    line-height: 22px;
    border-bottom:2px solid #f40;
}
#main .right_login .notice_nav .content{
    width:270px;
    height:60px;
    position: absolute;
    top:35px;
    left: 0;
    padding:15px 10px 0;
    background:#fff;
}
#main .right_login .notice_nav .content a{
    float:left;
    font-size: 12px;
    text-decoration: none;
    color:#000;
    display: block;
    height:25px;
    line-height:25px;
}
#main .right_login .notice_nav .content span,#main .right_login .notice_nav .content a:hover{
    color:#f40;
}
#main .right_login .n_nav1 .content a:nth-child(2){
    margin-right:15px;
}
#main .right_login .notice_nav:not(:first-child) .content{
    display: none;
}
 #main .right_login .notice_nav:not(:first-child) .content a:nth-child(2n-1){
    margin-right:15px;
} 
#main .right_login .notice_nav:hover  .content{
    display: block;
}
/*公告结束  */

/*图标导航开始  */
#main .right_login .icon_nav{
    width: 290px;
    height: 216px;
}
#main .right_login .icon_nav .icon_item{
    width: 50px;
    height: 50px;
    background:#fff;
    float:left;
    border:1px solid #f2f1ef;
    padding:10px;
    text-align: center;
}
#main .right_login .icon_nav .icon_item em{
    display: block;
    width:25px;
    height: 25px;
    margin:0 auto;
    
}
#main .right_login .icon_nav .icon_item .huafei{
    background:url("images/huafei.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .youxi{
    background:url("images/youxi.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .lvxing{
    background:url("images/lvxing.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .baoxian{
    background:url("images/baoxian.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .caipiao{
    background:url("images/caipiao.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .dianying{
    background:url("images/dianying.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .waimai{
    background:url("images/waimai.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .licai{
    background:url("images/licai.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .zhaofuwu{
    background:url("images/zhaofuwu.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .yinyue{
    background:url("images/yinyue.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .shuidianmei{
    background:url("images/shuidianmei.jpg");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item .huoche{
    background:url("images/huoche.png");
    background-size: cover;
}
#main .right_login .icon_nav .icon_item span{
    font-size: 14px;
    line-height: 33px;
}
/*图标导航结束  */

/*ali_app 开始  */
#main .right_login .ali_app{
    width: 270px;
    height: 120px;
    background:white;
    margin-top:1px;
    padding:10px;
    font-size:14px;
}
#main .right_login .ali_title{
    width:270px;
}
#main .right_login .ali_app span{
    float:right;
}
#main .right_login .ali_app_list{
    width:270px;
}
#main .right_login .ali_app_list img{
    width:32px;
    height:32px;
    float:left;
    margin:11px;
}
/*right_login end*/

/*左边内容大块 开始  */

#main .left_content{
    width: 890px;
    margin:0 10px 0 0 ;
}
/*my_often start  */
#main .left_content .my_often{
    float: left;
}
#main .left_content .my_often .my_often_item{
    float:left;
    width:440px;
    height: 365px;
    margin-top:10px;
}
#main .left_content .my_often .my_often_item:nth-child(2n+1){
    margin-right:10px;
}
#main .my_often_item .left_bar{
    float:left;
    width: 100px;
    height: 100%;
}
#main .my_often_item .right_content{
    float:left;
    width: 338px;
    height: 361px;
    background:#f1f1f1;
}
#main .moi1 .right_content{
    border:2px solid #0088c9;
    border-left:none;
}
#main .moi2 .right_content{
    border:2px solid #fde03d;
    border-left:none;
}
#main .moi3 .right_content{
    border:2px solid #fe6fa6;
    border-left:none;
}
#main .moi4 .right_content{
    border:2px solid #e44346;
    border-left:none;
}
#main .my_often_item .top_pic{
    width: 100px;
    height: 100px;
}
#main .moi1 .top_pic{
    background:url("images/moi1.png");
    background-size: cover;
}
#main .moi2 .top_pic{
    background:url("images/moi2.png");
    background-size: cover;
}
#main .moi3 .top_pic{
    background:url("images/moi3.jpg");
    background-size: cover;
}
#main .moi4 .top_pic{
    background:url("images/moi4.jpg");
    background-size: cover;
}
#main .my_often_item .bottom_hot{
    width: 84px;
    height: 245px;
    padding:10px 8px;
}
#main .moi1 .bottom_hot{
    background:#406cc0;
}
#main .moi2 .bottom_hot{
    background:#e9a326;
}
#main .moi3 .bottom_hot{
    background:#fe6fa6;
}
#main .moi4 .bottom_hot{
    background:#E44346;
}
#main .my_often_item .bottom_hot h4{
    font-size: 14px;
    color:white;
}
#main .my_often_item .hot_content{
    width: 100%;
    height: 220px;
    margin-top:5px;
}
#main .my_often_item .hot_content a{
    overflow: hidden;
    float: left;
    background-color: rgba(255,255,255,.2);
    display: inline-block;
    height: 19px;
    line-height: 19px;
    padding: 0 7px;
    margin-bottom: 3px;
    margin-right: 3px;
    color: #fff;
    font-size:10px;
    text-decoration: none;
}
#main .my_often_item .hot_content img{
    margin-left:2px;
}
#main .my_often_item .hot_content a:hover{
    background:white;
    color:red;
}


#main .my_often_item .top_show{
    width: 338px;
    height: 200px;
    margin-bottom:1px;
}
#main .my_often_item .bottom_show{
    width: 338px;
    height: 160px;
}
#main .my_often_item .bottom_show .left_item{
    float:left;
    padding:10px;
    margin-right:1px;
    background:white;
}
#main .my_often_item .bottom_show .left_item em{
    display: block;
    width: 181px;
    height: 140px;
}
#main .my_often_item .bottom_show .right_item1{
    position: relative;
    float:left;
    width:116px;
    height:59px;
    padding:10px;
    font-size: 14px;
    background:white;
}
#main .my_often_item .bottom_show .right_item1 em{
    display: block;
    width:96px;
    height:39px;
    padding:10px;

}
#main .moi3 .bottom_show .right_item em,#main .moi4 .bottom_show .right_item em{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    padding:0;
}
#main .my_often_item .top_show .left_item,#main .my_often_item .top_show .center_item{
    float: left;
    width: 100px;
    height: 100%;
    margin: 0 1px 1px 0;
    background: white;
}
#main .my_often_item .top_show .left_item1{
    width:100px;
    height: 50%;
}
#main .my_often_item .top_show .left_item1 em{
    display: block;
    width:80px;
    height: 80px;
    margin:10px;
    background:blue;
}
#main .my_often_item .top_show .left_item1:first-child{
    border:1px solid #f1f1f1;
}
#main .my_often_item .top_show .right_item{
    float:left;
    width:136px;
    height: 100%;
    background:white;
}
#main .my_often_item .top_show .right_item1{
    position: relative;
    width: 116px;
    height: 61px;
    padding:20px 10px;
    font-size:14px;
}
#main .my_often_item .top_show .right_item h4{
    color:#3c3c3c;
}
#main .my_often_item .top_show .right_item1 span{
    font-weight: 200;
}
#main .my_often_item .top_show .right_item1 em{
    position:absolute;
    right:5px;
    bottom:10px;
    display: block;
    width: 60px;
    height: 60px;
    background:blue;
}
#main .moi1 .top_show .ri1 em{
    background:url("images/moi1_top3.jpg");
    background-size:cover;
}
#main .moi1 .top_show .ri2 em{
    background:url("images/moi1_top4.jpg");
    background-size:cover;
}
#main .moi2 .top_show .ri1 em{
    background:url("images/moi2_top3.png");
    background-size:cover;
}
#main .moi2 .top_show .ri2 em{
    background:url("images/moi2_top4.png");
    background-size:cover;
}
#main .my_often_item .top_show .right_item1:first-child,#main .my_often_item .bottom_show .right_item1:first-child{
    border-bottom:1px solid #f1f1f1;
}


#main .moi1 .top_show .left_item{
    background:url("images/moi1_top1.png");
    background-size: cover;
}
#main .moi1 .top_show .center_item{
    background:url("images/moi1_top2.jpg");
    background-size: cover;
}
#main .moi2 .top_show .left_item{
    background:url("images/moi2_top1.png");
    background-size: cover;
}
#main .moi2 .top_show .center_item{
    background:url("images/moi2_top2.jpg");
    background-size: cover;
}
#main .moi3 .top_show .center_item{
    background:url("images/moi3_top2.jpg");
    background-size: cover;
}
#main .moi3  .top_show .right_item{
    background:url("images/moi3_top3.jpg");
    background-size: cover;
}
#main .moi4 .top_show .center_item{
    background:url("images/moi4_top2.jpg");
    background-size: cover;
}
#main .moi4 .top_show .right_item{
    background:url("images/moi4_top3.jpg");
    background-size: cover;
}

#main .moi1 .bottom_show .left_item em{
    background:url("images/moi1_bottom1.png") no-repeat;
    background-size: cover;
}

#main .moi1 .bottom_show .ri1 em{
    background:url("images/moi1_bottom2.jpg") no-repeat;
    background-size: cover;
}
#main .moi1 .bottom_show .ri2 em{
    background:url("images/moi1_bottom3.jpg") no-repeat;
    background-size: cover;
}

#main .moi2 .bottom_show .left_item em{
    background:url("images/moi2_bottom1.jpg") no-repeat;
    background-size: cover;
}

#main .moi2 .bottom_show .ri1 em{
    background:url("images/moi2_bottom2.jpg") no-repeat;
    background-size: cover;
}
#main .moi2 .bottom_show .ri2 em{
    background:url("images/moi2_bottom3.png") no-repeat;
    background-size: cover;
}

#main .moi3 .bottom_show .left_item em{
    background:url("images/moi3_bottom1.png") no-repeat;
    background-size: cover;
}

#main .moi4 .bottom_show .left_item em{
    background:url("images/moi4_bottom1.png") no-repeat;
    background-size: cover;
}

#main .moi3 .top_show  .li1 em{
    background:url("images/moi3_top_left1.jpg") no-repeat;
    background-size: cover;
}
#main .moi3 .top_show  .li2 em{
    background:url("images/moi3_top_left2.jpg") no-repeat;
    background-size: cover;
}
#main .moi4 .top_show  .li1 em{
    background:url("images/moi4_top_left1.jpg") no-repeat;
    background-size: cover;
}
#main .moi4 .top_show  .li2 em{
    background:url("images/moi4_top_left2.jpg") no-repeat;
    background-size: cover;
}
#main .moi3 .bottom_show .ri1 em{
    background:url("images/moi3_right1.jpg") no-repeat;
    background-size: cover;
}
#main .moi3 .bottom_show .ri2 em{
    background:url("images/moi3_right2.jpg") no-repeat;
    background-size: cover;
}
#main .moi4 .bottom_show .ri1 em{
    background:url("images/moi4_right1.jpg") no-repeat;
    background-size: cover;
}
#main .moi4 .bottom_show .ri2 em{
    background:url("images/moi4_right2.jpg") no-repeat;
    background-size: cover;
}
/*my_often end  */
/*左边内容大块 结束  */
/*main 结束  */

