body {
  background: #eee!important;
}
#shop .shopNav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 238.88px;
  display: flex;
  justify-content: space-around;
  background: #FFF;
}
#shop .shopNav a {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  cursor: auto;
  display: block;
  font-family: futura-pt;
  font-size: 40.625px;
  font-weight: normal;
  text-align: center;
  text-decoration-color: #000000;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  text-transform: none;
  width: 400px;
  -webkit-font-smoothing: antialiased;
}
#shop .shopNav a span {
  color: #000000;
  cursor: auto;
  display: inline-block;
  font-family: futura-pt;
  font-size: 40.625px;
  font-weight: normal;
  line-height: 48.75px;
  margin-bottom: 40.625px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 40.625px;
  text-align: center;
  text-size-adjust: 100%;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
#shop #shopNav {
  overflow: hidden;
  position: absolute;
  left: 15.5%;
  top: 183px;
}
#shop #shopNav li {
  float: left;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #cccccc;
  margin-right: 10px;
}
#shop .thumbnail > img {
  width: 350px;
  height: 350px;
}
#shop .page-ul {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#shop .row .col-sm-6.col-md-4 {
  width: 485.98px;
  height: 522.73px;
  float: left;
  margin-bottom: 15.625px;
  margin-right: 15.625px;
  margin-left: 15.625px;
  margin-top: 15.625px;
}
#shop .row .col-sm-6.col-md-4 .thumbnail {
  margin: 15.625px;
  background: #fff;
  height: 482px;
}
#shop .row .col-sm-6.col-md-4 .thumbnail img {
  width: 100%;
}
#shop footer {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #eeeeee;
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto;
  box-sizing: border-box;
  clear: both;
  color: #000000;
  display: block;
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 31.25px;
  padding-bottom: 31.25px;
  padding-left: 31.25px;
  padding-right: 31.25px;
  padding-top: 156.25px;
  position: relative;
  text-align: center;
  text-size-adjust: 100%;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: ease-in;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
}
#shop footer p {
  color: #000000;
  display: block;
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18.75px;
  line-height: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 1600px;
  text-align: center;
}
#shop footer p a {
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  cursor: auto;
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18.75px;
  line-height: 30px;
  text-align: center;
  text-decoration-color: #000000;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-size-adjust: 100%;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}
