
header.rowbanner{
    background-image: url("../../images/lm/slider-bg.jpg");
    background-position: center center;
}
div.banner{
    padding-top: 60px;
    // background-color: #25282a;
    // background-image: url("../../images/lm/slider-bg.jpg");
    // background-position: top center;

    // opacity: 0.8;
    .news1{
        .innerLeft{
            img{
                width: 35%;
            }
            width: 50%;
            text-align: right;
            float: left;
            }
        }
        .innerRight{
            width: 50%;
            float: left;
            text-align: left;
            h1{
                line-height: 4.0vw;
                padding-left: 20px;
                font-size: 2.3vw;
                font-weight: 400;
                color:#a9a9a9;
            }
        }
    };
.banner>div{
    padding-top: 60px;
}

#carousel-example-generic{
    // background-image: url("../../images/lm/slider-bg.jpg");
    // background-position: top center;
    .carousel-indicators{
        li{
            background: #000000;
            width: 12px;
            height: 12px;
            border: 3px solid #fff;
            transform: rotate(226deg);
            margin: 5px 7px;
            opacity: 0.5;
            border-radius: unset;
        }
        
    };
    
    .carousel-inner{
        .item{
            img{
                // display: none;
                width: 200px;
                height: 200px;
            
            }
            .carousel-caption{
                top: 0;
                color: #fff;
                font-size: 800;
                height: 200px;
                opacity: 0.5;
                font-weight: 800;
                font-size: 2.2vw;
                // margin: 16px 0 15px 0;
                z-index: 999;
            }
        }
    };
}
.carousel-indicators.active{
    li{
        border-color: #fff;
    }
}

