html,body,p,h1,h2,h3,h4,h5{
    padding:0;
    margin:0;
}
.clear_float::after,.clear_float:after{
    content:"";
    display: block;
    clear:both;
}


.hot_goods{
    width: 1000px;
    margin:40px auto 0;
    background:skyblue;
}
.hot_item{
    position:relative;
    width:316px;
    height:316px;
    float:left;
    margin:0 26px 80px 0;
}
.hot_item img{
    position: relative;
    width: 316px;
    height: 316px;
}
.hot_goods .hot_item:nth-child(3n){
    margin-right:0;
}
.hot_item_cover{
    display: none;
    position: absolute;
    width:276px;
    height:276px;
    padding:20px;
    top:0;
    left:0;
    background:rgba(0, 0, 0, 0.71); 
}
.goods_price{
    color: #0c6eba;
    font-size: 20px;
    font-style: italic;
}
.goods_content{
    margin-top:80px;
    text-align: center;
    color:white;
}
.goods_name,.goods_desc{
    height: 25px;
    line-height: 20px;
    vertical-align: middle;
    
    white-space: nowrap;
    text-overflow: ellipsis;
}
.goods_name{
    margin-bottom:10px;
    font-size:14px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
}
.goods_desc{
    font-size:12px;
    font-weight:400;
    white-space: normal;
}
