<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>百度搜索</title>
    <style>
        li{
            list-style: none;
            width:600px;
            height: 30px;
            margin:10px;
            line-height: 30px;
            background:skyblue;
            color:red; 
        }
    </style>
</head>
<body>
    
    <div ng-controller="Aaa">
        <input type="text" ng-model="name" ng-keyup="change(name)" placeholder="请输入内容">
        <input type="button" ng-click="change(name)" value="搜索">
        <ul>
            <li ng-repeat="data in dataList">{{data}}</li>
        </ul>
    </div>
   

    <script src="js/angular.min.js"></script>
    <script>
        var m1 = angular.module('myApp',[]);
        m1.controller("Aaa",function($scope,$http){
            // $scope.dataList = [
            //     {title:"周鹏"},
            //     {title:"zhoupeng"},
            //     {title:"澹台宇鹏"},
            //     {title:"ttyp"},
            //     {title:"zp"}
            // ];
            $scope.change = function(name){
                console.log(name);
                $http({
                    method: 'JSONP',
                    url:"https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd="+name+"&cb=JSON_CALLBACK"
                    // 百度用的jq方法，angular中要改成JSON_CALLBACK才能收到回调信息
                }).then(function successCallback(response){
                    console.log(data);
                    $scope.dataList = data.s; 
                })
            }
        })
    </script>
</body>
</html>