<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>供应商</title>
    <style>
        *{
            padding:0;
            margin:0;
        }
        #parent div{
            width:100%;
            height:600px;
            margin-bottom:20px;
            background:skyblue;
        }
        #parent ul{
            list-style: none;
            position:fixed;
            top:0;
            right:0;
            width:200px;
            padding:10px;
            border:2px solid #000;
        }
        
    </style>
</head>
<body>
    
    <div ng-controller="Aaa" id="parent">
        <ul> 
            <li ng-repeat="id in [1,2,3,4,5]" ng-click=change('div'+id)>{{id}}要跳转的第{{id}}个div</li>
        </ul>
        <div ng-repeat="id in [1,2,3,4,5]" ng-attr-id="div{{id}}">div{{id}}</div>
    </div>
   

    <script src="js/angular.min.js"></script>
    <script>
        var m1 = angular.module('myApp',[]);

        m1.config(["$anchorScrollProvider",function($anchorScrollProvide,$interpolate){
            $anchorScrollProvider.disableAutoScrolling();
            //disableAutoScrolling()可以禁止哈希值自动跳转
            //需要调用$anchorScroll()才能跳转


            // 在m1的模块下，config方法，接受一个数组应用响应的供应商
            // 首先是服务的名称$anchorScroll后面加上Provider就成这个服务的供应商
            // 如果$scope,那就是$scopeProvider
            // 并不是，所有 的服务都有供应商，大部分有
        }])

        m1.controller("Aaa",function($scope,$location,$anchorScroll){
            $scope.change = function(id){
                $location.hash(id);

                $anchorScroll();
            }

        })
    </script>
</body>
</html>